# Documentation site toolchain (not needed to run the app).
#   pip install -r requirements-docs.txt
#   mkdocs serve      # preview at http://127.0.0.1:8000
#   mkdocs build      # static site into ./site
mkdocs-material>=9.5
